.main {
    margin-top: 15px;
}
@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 700;
  src: local('Allan Bold'), local('Allan-Bold'), url(https://fonts.gstatic.com/s/allan/v6/XrS3DTpK5zGDCQZc8I2ynnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/allan/v6/HDuJMALbbJ3Ny_JtXeABSXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
h1 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 4em;
    line-height: 25px;
    margin-left: 70px;
}
.gridStyle {
    font-size: 12px;
    border: 0px solid rgb(212, 212, 212);
    width: auto;
}
.space-right {
    margin-right: 5px;
}
.modal-body { word-wrap: break-word; }
h3 {
    font-weight: normal;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
/*.subdrop {
    list-style: none;
}
.subdrop>li>a:-webkit-any-link {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    cursor: auto;
}*/

/*.ngViewport { max-height: 600px; height: auto !important; min-height: 200px !important; }*/

/*.ngCanvas, .ngViewport, .ngRow, .ngFooterPanel, .ngTopPanel { width: 100% !important; }*/

/*.ngRow { width: 100% !important; }*/

.grid-align-center {
    text-align: center;
}
.ngGrid input {
    color: black;
}
.ngColMenu {
    opacity: 0.8;
    color: white;
    background-color: #2c3e50;
    min-width: 175px;
}
.ngHeaderButton {
    /*background-color: #2c3e50;*/
    margin-right: 5px;
}
.ngHeaderButtonArrow {
    border-color: white transparent transparent transparent;
}
.ngColList {
    padding-left: 10px !important;
}
p {
    font-family: 'Cardo', Georgia, Times, serif;
    font-size: 18px;
    line-height: 25px;
}
.pointer {
    cursor: pointer;
}
.logo {
    max-width: 60px;
    margin-top: -18px;
}
.navbar {
    color: #fff;
}
.navbar img {
    position: absolute;
    bottom: 0;
}
.navbar h1 {
    position: absolute;
}
.navbar .container {
    width: 100%;
}
#page {
    margin-top: 60px;
}
.page-header {
    margin: 20px 0 !important;
    height: 27px !important;
    line-height: 37px !important;
}
.toolbar-container {
    box-sizing: border-box;
    padding: 8px 8px 7px 8px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#content, #signature {
    height: 195px;
    transition: height 800ms ease-out;
}
.blur {
    filter: url(#svgBlur);
    opacity: .4;
    background: -moz-element(#content);
    background-repeat: no-repeat;
}
.quill-wrapper {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    margin-left: auto;
    margin-right: auto;
}
.message {
    resize: none;
    border: 1px solid #ddd;
    border-top: 0;
    clear: none;
    display: block;
    float: none;
    margin: 0;
    padding: 6px 12px;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: auto;
    vertical-align: middle;
    text-align: start;
    box-sizing: border-box;
    /*box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;*/
    /*border-top-right-radius: 4px;*/
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    /*border-top-left-radius: 4px;*/
    width: 100%;
    height: 200px;
    /*background-color: rgb(255, 255, 255);*/
    color: rgb(85, 85, 85);
    cursor: auto;
    /*background-color: rgb(255, 255, 255);*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.modal-header { 
    color: #fff; 
    background-color: #333333;
}
.modal-body p {
    font-family: 'Cardo', Georgia, Times, serif;
    font-style: normal;
    font-size: 14px;
    /*line-height: 18px;*/
}
.btn-toggle>.btn-default {
    background-color: #fff;
    -webkit-box-shadow: 0 !important;
    box-shadow: 0 !important;
}
.checkbox {
    margin-top: 10px !important;
}
.page-header {
    margin: 20px 0 20px;
    height: 56px;
}
tbody tr {
    cursor: pointer;
    cursor: hand;
}
.wet-asphalt>.panel-heading {
    background-color: #34495e;
    color: white;
}
.wet-asphalt {
    border-color: #34495e;
}
.panel-alizarin>.panel-heading {
    background-color: #e74c3c;
    color: white;
}
.panel-alizarin {
    border-color: #e74c3c;
}
.panel-belizehole>.panel-heading {
    background-color: #2980b9;
    color: white;
}
.panel-belizehole {
    border-color: #2980b9;
}
.panel-emerald>.panel-heading {
    background-color: #27ae60;
    color: white;
}
.panel-emerald {
    border-color: #27ae60;
}
.panel-concrete>.panel-heading {
    background-color: #95a5a6;
    color: white;
}
.panel-concrete {
    border-color: #95a5a6;
}
.panel-asbestos>.panel-heading {
    background-color: #7f8c8d;
    color: white;
}
.panel-asbestos {
    border-color: #7f8c8d;
}
.panel-clouds>.panel-heading {
    background-color: #ecf0f1;
    color: #bdc3c7;
}
.panel-clouds {
    border-color: #ecf0f1;
}
.panel-midnightblue>.panel-heading {
    background-color: #2c3e50;
    color: white;
}
.panel-midnightblue {
    border-color: #2c3e50;
    min-height: 175px;
}
.lightblue {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 0px #528ecc;
}
.ngRow.selected {
    color: #fff;
    background-color: #8AB8E6;
}
/*.ngCellText{
    white-space:normal !important;
    }

.ngVerticalBarVisible{
      height: 100% !important;
    }*/