<section data-ng-controller="QueueController">
	<div class="row">
		<div class="col-md-4">
			<section class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Service Request Queue </h2>
					<input type="search" data-ng-model="queueFilter" placeholder="Filter SRs" class="" />
					| Linux FL Q Only
					<input type="checkbox" data-ng-model="filterSubscribedQueues" />
				</div>
				<div class="panel-body">
					<div class="btn-group btn-group-justified">
						<!-- show all queues -->
						<div data-ng-if="!filterSubscribedQueues">
							<div class="list-unstyled" ng-repeat="SR in SRs | filter:queueFilter">
								<data-queue-item></data-queue-item>
							</div>
						</div>
						<!-- show just linux team queues -->
						<div data-ng-if="filterSubscribedQueues">
							<div class="list-unstyled" ng-repeat="SR in SRs | filter:queueFilter | bySubscribedQueues:subscribedQueues">
								<data-queue-item></data-queue-item>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


		<div class="col-md-8">
			<section class="panel panel-default" ng-show="SRvisible">
				<div class="panel-heading">
					<h2 class="panel-title">
						Service Request Information
						<a class="pull-right"><span class="glyphicon glyphicon-remove" data-ng-click="deselectSR()"></span></a>
					</h2>
				</div>
				<div class="panel-body">
					<header>
						<a type="button" class="btn btn-default">SR {{ selectedSR.sr_number || "not found" }}</a>
						<a href="mailto:{{ selectedSR.email_address }}?subject=SR#%20{{ selectedSR.sr_number }}%20({{ selectedSR.brief_description }})%20+EO&cc=Support%20support&body=Hello%20{{ selectedSR.first_name }}%20{{ selectedSR.last_name }}," type="button" class="btn btn-default" title="pre-formatted email">{{ selectedSR.email_address || "email address not found" }}</a>
						<a href="tel:{{ selectedSR.phone_number }}" type="button" class="btn btn-default">Call: {{ selectedSR.phone_number || "phone number not found" }}</a>
						<a type="button" class="btn btn-primary" data-ng-click="assignSR(selectedSR.sr_number, authentication.user.username)">Assign to me</a>
					</header>
					<content>
						<h3>Description:</h3> 
						<pre>{{ selectedSR.brief_description || "No brief description found." }}</pre>
						<h3>Last Act:</h3>
						<pre>{{ selectedSR.last_act || "No last act found."}}</pre>
						<h3>Detailed Description:</h3>
						<pre>{{ selectedSR.detailed_description || "No detailed description found."}}</pre>
						<br />
					</content>
					<content>
						<p>Queue: {{ selectedSR.sr_owner }} </p>
						<p>Contact: {{ selectedSR.first_name }} {{ selectedSR.last_name}}</p>
						<p>Account: {{ selectedSR.account_name }}</p>
					</content>
					<footer>
						<form class="form-inline" role="form">
							<button type="submit" class="btn btn-primary btn-block form-control" ng-click="assignSR(selectedSR.sr_number, assignToOther.username)" title="Assign SR to selected agent/queue">Assign to:</button>
							<select requred class="form-control input-group form-group" ng-model="assignToOther" ng-options="TSE.name for TSE in teamMembers">
								<option disabled value="">Select</option>
							</select>

						</form>
					</footer>

				</div> <!-- end div panel-body -->
			</section>
		</div>
	</div>
</section>