<section data-ng-controller="QueueController">
	<div class="row">
		<div class="col-md-4">
			<section class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Service Request Queue </h2>
					<input type="search" data-ng-model="queueFilter" placeholder="Filter SRs" class="" />
					| filter linux queues
					<input type="checkbox" data-ng-model="filterSubscribedQueues" />
				</div>
				<div class="panel-body">
					<div class="btn-group">
						<!-- show all queues -->
						<div data-ng-if="!filterSubscribedQueues">
							<div class="list-unstyled" ng-repeat="SR in SRs | filter:queueFilter">
								<data-queue-item></data-queue-item>
							</div>
						</div>
						<!-- show just linux team queues -->
						<div data-ng-if="filterSubscribedQueues">
							<div class="list-unstyled" ng-repeat="SR in SRs | filter:queueFilter | bySubscribedQueues:subscribedQueues">
								<data-queue-item></data-queue-item>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


		<div class="col-md-8">
			<section class="panel panel-default" ng-show="SRvisible">
				<div class="panel-heading">
					<h2 class="panel-title">Service Request Information</h2>
				</div>
				<div class="panel-body">
					<header>
						<a type="button" class="btn btn-default">SR# {{ selectedSR.SR_NUM || "not found" }}</a>
						<a href="mailto:{{ selectedSR.PQ_EMAIL_ADDR }}?subject=SR#%20{{ selectedSR.SR_NUM }}%20({{ selectedSR.SR_BRIEF_DESC }})%20+EO&cc=Support%20support&body=Hello%20{{ selectedSR.first_name }}%20{{ selectedSR.last_name }}," type="button" class="btn btn-default" title="pre-formatted email">Email: {{ selectedSR.PQ_EMAIL_ADDR || "email address not found"}}</a>
						<a href="tel:{{ selectedSR.CONTACT_PHONE }}" type="button" class="btn btn-default">Call: {{ selectedSR.CONTACT_PHONE || "phone number not found" }}</a>
						<a type="button" class="btn btn-primary">Assign to me</a>
					</header>
					<content>
						<h3>Description:</h3>
						<textarea class="form-control" rows="3">{{ selectedSR.SR_BRIEF_DESC || "No brief description found." }}</textarea>
						<h3>Last Act:</h3>
						<textarea class="form-control" rows="5">{{ selectedSR.SR_LAST_ACT_COMMENT || "No last act found."}}</textarea>
						<h3>Detailed Description:</h3>
						<textarea class="form-control" rows="8">{{ selectedSR.SR_DESC || "No detailed description found."}}</textarea>
						<br />
					</content>
					<footer>
						<div class="dropdown dropup">
							<a id="TicketDropdown" class="btn btn-default" role="button" data-toggle="dropdown" title="Please choose a new owner">
								Select Agent/Queue 
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="TicketDropdown">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#">agent1</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#">agent2</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#">agent3</a>
								</li>
								<li role="presentation" class="divider">
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#">some_queue</a>
								</li>
							</ul>
							<button type="button" class="btn btn-default" title="Assign SR to selected agent/queue">Confirm</button>
						</div> <!-- end div dropdown -->
					</footer>
				</div> <!-- end div panel-body -->
			</section>
		</div>
	</div>
</section>