<div class="btn btn-default btn-block" data-ng-click="selectSR(SR)">
<!--{{ SLA }}-->
<span ng-if="SR.high_value"><span class="glyphicon glyphicon-flag" style="color:red"> | </span>
</span>

{{ SR.severity }} | {{ SR.organization }} | {{ SR.support_hours }}

<ng-switch on="SR.respond_via"> | 
	<span ng-switch-when="Email"><span class="glyphicon glyphicon-envelope"></span></span>
	<span ng-switch-when="Callback"><span class="glyphicon glyphicon-earphone"></span></span>
	<span ng-switch-when="Chat"><span class="glyphicon glyphicon-comment"></span></span>
	<span ng-switch-default>None</span>
</ng-switch>



 <br /> 
{{ SR.brief_description | cut:true:42:' ...' }}</div>