<div class="btn btn-default btn-block" data-ng-click="selectSR(SR)">
<!--{{ SLA }}-->
{{ SR.severity }} | {{ SR.support_hours_and_org }}
<ng-switch on="SR.respond_via"> | 
	<span ng-switch-when="Email"><span class="slyphicon glyphicon-envelope"></span></span>
	<span ng-switch-when="Call"><span class="glyphicon glyphicon-earphone"></span></span>
	<span ng-switch-when="Chat"><span class="glyphicon glyphicon-comment"></span></span>
	<span ng-switch-default>None</span>
</ng-switch>

<span ng-if="SR.high_value"> <span class="glyphicon glyphicon-flag"></span>
</span>

 <br /> 
{{ SR.brief_description | cut:true:42:' ...' }}

</div>